@charset "UTF-8";
/*Base*/
/*Reseteamos estilos*/
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Shadows+Into+Light&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /*scroll suave*/
  user-select: none;
  /*impedimos que el usuario pueda copiar o seleccionar el texto*/
}

/*ESTILOS PARA EL FONDO DE LA PAGINA, EN ESTE CASO UNA IMAGEN*/
body {
  background-image: url(https://i.ibb.co/C9WspmH/background-destrellos2.png);
  background-repeat: no-repeat;
  /*no se repite la imagen*/
  background-attachment: fixed;
  /*la imagen queda fija de fondo*/
  background-size: cover;
  /*tamaño imagen automatico, se va ajustando para cubrir la pantalla*/
}

/*Mixins*/
/*Fuentes para NavMenu, Titulos y Texto*/
/*Tamaño de las imagenes*/
/*Variables*/
/*FUENTES*/
/*Fuente de menuNav*/
/*Fuente de titulos1*/
/*Fuente de textos1*/
/*TAMAÑO DE LINK DE MENU DE NAVEGACION*/
/*TAMAÑO DE TITULOS DE SECCIONES QUE HACEMOS, QUIENES SOMOS*/
/*TAMAÑO DE TITULOS DE SECCIONES QUE HACEMOS, QUIENES SOMOS*/
/*TAMAÑO DE TEXTO DE SECCIONES QUE HACEMOS, QUIENES SOMOS*/
/*TAMAÑO DE TEXTO DE SECCIONES QUE HACEMOS, QUIENES SOMOS*/
/*Padding en comun de #queHacemos, #quienesSomos, #modelos */
/*Padding para los carruceles*/
/*Color de fondo del menu, botones y recuadros, para armonia*/
/*Partials*/
/*ESTILOS MENU DE NAVEGACION*/
#miMenuNav {
  z-index: 2000;
  background-color: #f4eff6 !important;
  position: fixed;
  /*Imagen Logo a la izquierda de la barra de navegacion*/
  /*Texto/link del menu de navegacion*/
}
#miMenuNav .imgLogo {
  width: 7rem;
  height: auto;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 1vw;
  animation: FXcorazon infinite 2s;
  /*Comportamiento al pasar el mouse por arriba*/
  /*Comportamiento al hacer clic*/
  /*Efecto tipo corazon para el logo*/
}
#miMenuNav .imgLogo:hover {
  animation: none;
  transform: scale(1.1);
}
#miMenuNav .imgLogo:active {
  filter: blur(2px);
}
@keyframes FXcorazon {
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.05);
  }
  70% {
    transform: scale(1);
  }
}
#miMenuNav .menuNavText {
  /*Comportamiento al pasar el mouse por arriba*/
}
#miMenuNav .menuNavText a {
  /*color letra, fuente, tamaño, tipo, estilo, decoracion, transformacion, alineacion, separacion de lineas, separacion de palabras*/
  color: black;
  /*color de letra*/
  font-family: "Montserrat", sans-serif;
  /*fuente*/
  font-size: 1.1rem;
  /*tamaño fuente*/
  font-weight: bold;
  /*tipo de letra, comun, negrita etc*/
  font-style: normal;
  /*estilo*/
  text-decoration: none;
  /*decoracion, por ejemplo subrayado*/
  text-transform: uppercase;
  /*transformacion, mayusculas, minuscuas, etc*/
  text-align: center;
  /*alineacion de texto*/
  line-height: 1rem;
  /*separacion entre lineas*/
  word-spacing: 0.1rem;
  /*separacion de palabras*/
  /*Comportamiento al pasar el mouse por arriba*/
}
@media only screen and (min-width: 990px) and (max-width: 1140px) {
  #miMenuNav .menuNavText a {
    font-size: 1.4vw;
    /*tamaño fuente*/
  }
}
@media only screen and (max-width: 990px) {
  #miMenuNav .menuNavText a {
    font-size: 1rem;
    /*tamaño fuente*/
  }
}
#miMenuNav .menuNavText a:hover {
  color: #fbc774 !important;
  /*color de letra*/
}
#miMenuNav .menuNavText:hover {
  transform: scale(1.05);
}
#miMenuNav .menuNavText:active {
  filter: blur(2px);
}
#miMenuNav .menuSocial {
  /*CUANDO SE VEA EN UNA TABLE O MOVIL LOS ICONOS DE REDES SOCIALES DESAPARECEN*/
  /*DE EL MENU DE NAVEGACION*/
  /*Iconos de redes sociales con link*/
}
@media only screen and (max-width: 990px) {
  #miMenuNav .menuSocial {
    display: none;
  }
}
#miMenuNav .menuSocial .iconSocial {
  width: 35px;
  height: auto;
  margin-top: 0;
  margin-right: 0.05rem;
  margin-bottom: 0;
  margin-left: 0.05rem;
  /*Comportamiento al pasar el mouse por arriba*/
  /*Comportamiento al hacer clic*/
}
@media only screen and (max-width: 1170px) {
  #miMenuNav .menuSocial .iconSocial {
    width: 2.1vw;
    height: auto;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
#miMenuNav .menuSocial .iconSocial:hover {
  transform: scale(1.1);
}
#miMenuNav .menuSocial .iconSocial:active {
  filter: blur(2px);
}

/*FIN ESTILOS DE MENU DE NAVEGACION*/
/*ESTILOS PARA BOTONES DE REDES SOCIALES QUE VAN A ESTAR ABAJO A LA DERECHA FIJO*/
/*SOLO SE VAN A VER CUANDO LA PAGINA SE VEA EN UNA TABLET O MOVIL*/
/*ICONO FACEBOOK*/
.SocialMovilFb {
  display: scroll;
  position: fixed;
  right: 5px;
  bottom: 70px;
}
.SocialMovilFb .iconSocialMovil {
  width: 37px;
  height: auto;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
@media only screen and (min-width: 990px) {
  .SocialMovilFb {
    display: none;
  }
}

/*ICONO INSTAGRAM*/
.SocialMovilIg {
  display: scroll;
  position: fixed;
  right: 5px;
  bottom: 30px;
}
.SocialMovilIg .iconSocialMovil {
  width: 37px;
  height: auto;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
@media only screen and (min-width: 990px) {
  .SocialMovilIg {
    display: none;
  }
}

/*ESTILOS DE PORTADA*/
#portada {
  padding: 50px 2vw 0 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
@media only screen and (max-height: 440px) {
  #portada {
    padding-top: 70px;
  }
}
@media only screen and (max-width: 450px) {
  #portada {
    padding-top: 0px;
  }
}
#portada div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#portada div .imgLogoPortada {
  width: 90vh;
  animation: aparecerI 3s;
}
@keyframes aparecerI {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  20% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1);
    opacity: 1;
  }
}
#portada div .imgTextoPortada {
  width: 60vh;
  animation: aparecerT 3s;
  /*aparezca el texto del logo con animacion*/
}
@keyframes aparecerT {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/*FIN ESTILOS DE PORTADA*/
/*ESTILOS SECCION QUE HACEMOS*/
#queHacemos {
  padding: 5rem 2vw 1rem 2vw;
  /*se modifica en el _variables.scss*/
  display: flex;
  text-align: center;
  /*Imagen superior al titulo*/
  /*Titulos Que Hacemos*/
  /*Texto Que Hacemos*/
}
#queHacemos img {
  /*Ancho, alto y margenes de imagen*/
  width: 20rem;
  height: auto;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 2rem;
  margin-left: 0;
}
@media only screen and (max-width: 990px) {
  #queHacemos img {
    width: 15rem;
    height: auto;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-left: 0;
  }
}
#queHacemos .titulos1 {
  /*color letra, fuente, tamaño, tipo, estilo, decoracion, transformacion, alineacion, separacion de lineas, separacion de palabras*/
  color: black;
  /*color de letra*/
  font-family: "Montserrat", sans-serif;
  /*fuente*/
  font-size: 2.5rem;
  /*tamaño fuente*/
  font-weight: bold;
  /*tipo de letra, comun, negrita etc*/
  font-style: normal;
  /*estilo*/
  text-decoration: none;
  /*decoracion, por ejemplo subrayado*/
  text-transform: uppercase;
  /*transformacion, mayusculas, minuscuas, etc*/
  text-align: center;
  /*alineacion de texto*/
  line-height: 5rem;
  /*separacion entre lineas*/
  word-spacing: 0.05rem;
  /*separacion de palabras*/
}
@media only screen and (max-width: 990px) {
  #queHacemos .titulos1 {
    /*color letra, fuente, tamaño, tipo, estilo, decoracion, transformacion, alineacion, separacion de lineas, separacion de palabras*/
    color: black;
    /*color de letra*/
    font-family: "Montserrat", sans-serif;
    /*fuente*/
    font-size: 2rem;
    /*tamaño fuente*/
    font-weight: bold;
    /*tipo de letra, comun, negrita etc*/
    font-style: normal;
    /*estilo*/
    text-decoration: none;
    /*decoracion, por ejemplo subrayado*/
    text-transform: uppercase;
    /*transformacion, mayusculas, minuscuas, etc*/
    text-align: center;
    /*alineacion de texto*/
    line-height: 3rem;
    /*separacion entre lineas*/
    word-spacing: 0.03rem;
    /*separacion de palabras*/
  }
}
#queHacemos .textos1 {
  /*color letra, fuente, tamaño, tipo, estilo, decoracion, transformacion, alineacion, separacion de lineas, separacion de palabras*/
  color: black;
  /*color de letra*/
  font-family: "Montserrat", sans-serif;
  /*fuente*/
  font-size: 1.5rem;
  /*tamaño fuente*/
  font-weight: bold;
  /*tipo de letra, comun, negrita etc*/
  font-style: normal;
  /*estilo*/
  text-decoration: none;
  /*decoracion, por ejemplo subrayado*/
  text-transform: none;
  /*transformacion, mayusculas, minuscuas, etc*/
  text-align: center;
  /*alineacion de texto*/
  line-height: 2rem;
  /*separacion entre lineas*/
  word-spacing: 0.1rem;
  /*separacion de palabras*/
}
@media only screen and (max-width: 990px) {
  #queHacemos .textos1 {
    /*color letra, fuente, tamaño, tipo, estilo, decoracion, transformacion, alineacion, separacion de lineas, separacion de palabras*/
    color: black;
    /*color de letra*/
    font-family: "Montserrat", sans-serif;
    /*fuente*/
    font-size: 1rem;
    /*tamaño fuente*/
    font-weight: bold;
    /*tipo de letra, comun, negrita etc*/
    font-style: normal;
    /*estilo*/
    text-decoration: none;
    /*decoracion, por ejemplo subrayado*/
    text-transform: none;
    /*transformacion, mayusculas, minuscuas, etc*/
    text-align: center;
    /*alineacion de texto*/
    line-height: 1rem;
    /*separacion entre lineas*/
    word-spacing: 0.05rem;
    /*separacion de palabras*/
  }
}

/*ESTILO PARA MODELOS, ES UN CARRUCEL PROPIO DE BOOTSTRAP*/
#modelos {
  padding: 1rem 2vw;
  position: relative;
  text-align: center;
  align-items: center;
}
#modelos div {
  /*Titulo Modelo*/
}
#modelos div h2 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: opacity(0%);
  /*color letra, fuente, tamaño, tipo, estilo, decoracion, transformacion, alineacion, separacion de lineas, separacion de palabras*/
  color: white;
  /*color de letra*/
  font-family: "Montserrat", sans-serif;
  /*fuente*/
  font-size: 2.5rem;
  /*tamaño fuente*/
  font-weight: bold;
  /*tipo de letra, comun, negrita etc*/
  font-style: normal;
  /*estilo*/
  text-decoration: none;
  /*decoracion, por ejemplo subrayado*/
  text-transform: uppercase;
  /*transformacion, mayusculas, minuscuas, etc*/
  text-align: center;
  /*alineacion de texto*/
  line-height: 5rem;
  /*separacion entre lineas*/
  word-spacing: 0.05rem;
  /*separacion de palabras*/
}
@media only screen and (max-width: 990px) {
  #modelos div h2 {
    /*color letra, fuente, tamaño, tipo, estilo, decoracion, transformacion, alineacion, separacion de lineas, separacion de palabras*/
    color: white;
    /*color de letra*/
    font-family: "Montserrat", sans-serif;
    /*fuente*/
    font-size: 2rem;
    /*tamaño fuente*/
    font-weight: bold;
    /*tipo de letra, comun, negrita etc*/
    font-style: normal;
    /*estilo*/
    text-decoration: none;
    /*decoracion, por ejemplo subrayado*/
    text-transform: uppercase;
    /*transformacion, mayusculas, minuscuas, etc*/
    text-align: center;
    /*alineacion de texto*/
    line-height: 3rem;
    /*separacion entre lineas*/
    word-spacing: 0.03rem;
    /*separacion de palabras*/
  }
}
#modelos:hover img {
  filter: blur(2px) brightness(40%);
  transition: all 1s;
}
#modelos:hover h2 {
  filter: opacity(100%);
  transition: all 1s;
}

/*FIN ESTILOS MODELOS*/
/*ESTILOS PARA EL FOOTER*/
footer {
  display: flex;
  flex-direction: wrap;
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: space-between;
  padding-top: 0.4%;
}
footer .ubicacion, footer .copyright, footer .designed {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  padding-left: 1%;
  padding-right: 1%;
}
@media only screen and (max-width: 990px) {
  footer .ubicacion, footer .designed {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
