
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Shadows+Into+Light&display=swap');


/*FUENTES*/
/*Fuente de menuNav*/
$fuente_menuNav: 'Montserrat', sans-serif;

/*Fuente de titulos1*/
$fuente_titulos1: 'Montserrat', sans-serif;

/*Fuente de textos1*/
$fuente_textos1: 'Montserrat', sans-serif;



