/*TAMAÑO DE LINK DE MENU DE NAVEGACION*/
$menuNav_size: 1.1rem;


/*TAMAÑO DE TITULOS DE SECCIONES QUE HACEMOS, QUIENES SOMOS*/
$title_size1: 2.5rem;

/*TAMAÑO DE TITULOS DE SECCIONES QUE HACEMOS, QUIENES SOMOS*/
$title_size1M: 2rem;


/*TAMAÑO DE TEXTO DE SECCIONES QUE HACEMOS, QUIENES SOMOS*/
$text_size1: 1.5rem;

/*TAMAÑO DE TEXTO DE SECCIONES QUE HACEMOS, QUIENES SOMOS*/
$text_size1M: 1rem;




