#contacto{
    .botonContacto{
        background-color: rgb(251,199,116) !important;
        border-style: none !important;
        color: black;
    }

    .contactoFondo{
        background-color: $armony_color!important;;
    }
}